<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#getting_started">Getting Started</a>
      </h4>
    </div>
    <div id="getting_started" class="panel-collapse collapse in">
      <div class="panel-body">
        <%= partial :getting_started_panel_body %>
      </div>
    </div>
  </div>
</div>
