<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <% content_tag :a,
          "data-toggle" => :collapse,
          "data-parent" => "#accordion",
          :href => "##{topic}" do %>
          <%= topic.to_s.titleize %>
      <% end %>
      </h4>
    </div>
    <% content_tag :div, id: topic, class: "panel-collapse collapse" do %>
      <div class="panel-body">
        <%= data.send(topic).first[1]["text"] %>
      </div>
      <%= partial :_panel_body, :locals => {:topic => topic} %>
  <% end %>
  </div>
</div>
