<%
  topic_anchor = "##{topic}"
  topic_id = topic
  topic_anchor_inner = case topic
    when :getting_started
      "Getting Started"
    when :pro_tips
      "Pro Tips"
    end
  %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href=<%= topic_anchor %>>
          <%= topic_anchor_inner %>
      </a>
      </h4>
    </div>
    <div id=<%= topic_id %> class="panel-collapse collapse">
      <div class="panel-body">
        <%= partial :_panel_body, :locals => {:topic => topic} %>
      </div>
    </div>
  </div>
