---
title: Metasploit Resource Portal
topics:
  - :getting_started
  - :pro_tips
---

<%= partial :topnav %>

<div class="panel-group" id="accordion">
  <% current_page.data.topics.each do |topic| %>
    <%= partial :_panel_heading, :locals => {:topic => topic } %>
  <% end %>
</div>
