<div class="jumbotron" align="center">
  <h2>The world's most used penetration testing software</h2>
  <p class="text-warning">Put your network's defenses to the test</p>
  <br>
  <h6>

  A collaboration of the open source security community and Rapid7. Our
  penetration testing software helps verify vulnerabilities and
  manage vulnerability assessments.

  </h6>

  <h6> Have something to contribute?
    <%= link_to 'Right this way!',
      'https://github.com/metasploit/resource-portal-data' %>
  </h6>

  <br>

  <%= link_to button("#{icon(:download, library: :font_awesome, class: "text-warning fa-2x", style: "vertical-align: middle" )} Free Metasploit Download", context: :info),
    'http://www.rapid7.com/products/metasploit/download.jsp'
  %>

</div>
