<div class="table-responsive">
<table class="table">
  <%
    sorted_data = data.send(topic).sort_by {|x| x[1]["date"] }.reverse
    sorted_data.each do |res|
    url_name = res[0]
    next if url_name == topic.to_s
    details = res[1]
    url_link = details["url"]
    date = details["date"] || "1970-01-01"
    type = details["type"] || "text"
    auth = details["author"]["name"]
    aka  = details["author"]["twitter"]
    if aka
      author_link = link_to(icon(:twitter, library: :font_awesome) + ' ' + auth, "https://twitter.com/#{aka}", target: "_blank")
    else
      author_link = auth
    end

    comment = details["comment"]

    # Icons from Font Awesome, an MIT licensed font:
    # http://fortawesome.github.io/Font-Awesome/icons/
    icon_type = case type
      when "video"
        :video_camera
      when "audio"
        :volume_up
      when "email"
        :envelope
      when "github"
        :github
      when "book"
        :book
      else
        :file_text
      end
  %>

  <tr>
      <td class="resource_url">
        <%= link_to icon(
              icon_type,
              library: :font_awesome, class: "fa-fw") + " #{url_name}",
        url_link,
        target: "_blank"
      %>
    <% if comment %>
      <%=
        link_to icon("info-circle", library: :font_awesome, class: "fa-fw"),
        "#",
        title: comment
        %>
      <% end %>
      </td>
      <td class="resource_date" nowrap>
        <em><%= date <= Date.new(1970,1,1) ? "the dawn of time" : date %></em>
      </td>
      <td class="resource_author" nowrap>
        by
        <%= author_link %>
      </td>

    </tr>

  </tr>
  <% end %>
  </table>
</div>
