<div class="panel panel-primary">
  <% content_tag :div,
    :class => "panel-heading",
    "data-toggle" => :collapse,
    "data-parent" => "#accordion",
    "data-target" => "##{topic}" do %>
    <h4 class="panel-title">
      <%= topic.to_s.titleize %>
      (<%= data.send(topic).size-1 %>)
    </h4>
  <% end %>
    <% content_tag :div, id: topic, class: "panel-collapse collapse" do %>
      <div class="panel-body">
      <%= data.send(topic).first[1]["comment"] %>
    </div>
    <%= partial :_panel_body, :locals => {:topic => topic} %>
  <% end %>
  </div>
</div>
