<% nav as: :pills, position: :static do %>
  <li><a href="https://docs.metasploit.com">Docs</a></li>
  <li><a href="https://rapid7.github.io/metasploit-framework/api/">API</a></li>
  <li><a href="https://www.rapid7.com/support">Support</a></li>
  <li><a href="pull_requests.html">Stats</a></li>
<% end %>

<% content_tag :div, align: :center do %>
  <%= image_tag 'metasploit-white-logo.png', :class => :logo %>
  <h4 class="text-warning">EXTERNAL RESOURCE PORTAL</h4>
  <br>
<% end %>
