---
title: Metasploit Resource Portal
topics:
  - :getting_started
  - :pro_tips
  - :contributing
  - :meterpreter
  - :common_issues
  - :writing_modules
---

<%= partial :topnav %>

<div class="panel-group" id="accordion">
  <% current_page.data.topics.each do |topic| %>
    <% next unless (data.respond_to? topic) %>
    <%= partial :_panel_heading, :locals => {:topic => topic } %>
  <% end %>
</div>

<%= partial :footer %>
