/* General */
.panel-group {
  margin-left: 1%;
  margin-right: 1%;
}

/* Logo sizes */
.logo {
  max-width: 300px;
}

.logo-r7 {
  max-width: 150px;
}

/* Indicate that panel headings are clickable */
.panel-heading {
  cursor: pointer;
}

.panel-title {
  color: #ffffff;
}

/* Allow 2/3rds horizontal space to a table cell with a link */
.resource_url {
  width: 66%;
}
